# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.exp
tools/GivinsProject.opensdf
*.sdf
tools/GMacroFiles/Debug/GMacroFiles.tlog/cl.command.1.tlog
*.tlog
tools/GMacroFiles/Debug/vc120.idb
*.def
*.ipch
tools/NetManager/Debug/vc120.idb
tools/UserTools/RCa05804
tools/UserTools/RCa06772
tools/UserTools/RDa06772
tools/UserTools/RDa05804
tools/UserTools/RCa06412
tools/UserTools/RDa06412
tools/UserTools/RCa07396
tools/UserTools/RDa07396
*.idb
